.pacmanAI-ghostList-list, .pacmanAI-ghostList-buttons {
  position : absolute;
  top	   	 : 1em;
  bottom   : 1em;
  cursor   : default;
}

.pacmanAI-ghostList-list {
  border: 2px solid black;
  left	: 1em;
}

.pacmanAI-ghostList-item {
  min-width : 300px;
  padding   : 5px 0 5px 10px;
} 

	.pacmanAI-ghostList-item:hover {
		background-color : #00BFFF;
	}
	.pacmanAI-ghostList-item.pacmanAI-x-select {
    background-color : #6495ED;
	}

.pacmanAI-ghostList-buttons {
  right 		: 8em;
  min-width : 7em;
}

.pacmanAI-ghostList-add, .pacmanAI-ghostList-delete,
.pacmanAI-ghostList-admit, .pacmanAI-ghostList-eject {
  margin				: 0 0 5px 0;
}
